# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.output/
.turbo/
.cache/
*.tsbuildinfo


# .NET / MSBuild outputs
services/**/bin/
services/**/obj/
services/**/Library/
services/**/.local/
.dotnet/
*.user

# Environment and local configs
.env
.env.local
.env.*.local

# IDE and OS files
.DS_Store
*.log
.vscode/
.idea/
